html,
body,
#map {
  height: calc(100vh);
  margin: 0 auto;
  padding: 0 auto;
}

#infoPanel {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 10;

  width: 300px;
  padding: 0.75rem 1rem;

  background: var(--calcite-color-foreground-1);
  color: var(--calcite-color-text-1);

  border: 1px solid var(--calcite-color-border-1);
  border-radius: var(--calcite-corner-radius);

  box-shadow: var(--calcite-shadow-sm);
  font-family: var(--calcite-sans-family);
  font-size: var(--calcite-font-size--1);
  line-height: var(--calcite-line-height-sm);

  backdrop-filter: var(--calcite-backdrop-blur, blur(6px));
}